<% followings.each do |user| %>
  <%=link_to user_path(user), class: 'tab_content' do%>
  　<div class="tab_flex">
  　   <div>
        <%= image_tag user.get_profile_image, class: 'tab_user_profile_image' %>
      </div>
      <div class="tab_content_names">
        <h2><%= user.get_full_name(user) %></h2>
        <p><%= user.company_name %></p>
      </div>
  　</div>
  <%end%>
<%end%>

<%if followings.blank?%>
  <h2 class="follow_index_message"><i class="fa-solid fa-users"></i>フォロー中のユーザーはいません</h2>
<%end%>



