<div class="personnel_content">
  <%= f.select :company_name, options_from_collection_for_select(site_users,:company_name, :company_name,), {}, {class: "select_form_field"} %>
  <%= f.number_field :count, :min => 0, class: "number_field" %><span>人</span>
</div><br>
