<div class="work_form_page">
  <div>
    <h2>予定編集</h2>
    <%= render 'layouts/errors', obj: @work %>
    <%=render 'works/edit_form', work: @work, site: @site, site_users: @site_users %>
  </div>
</div>

<%=javascript_pack_tag 'personnels/edit_personnel'%>
