<h2 class="calendar_site_name"><%=@site.name %></h2>

<div id='calendar'></div>
<!--authenticity_token.valueを取得するために用意-->
<%=form_with model: @work, id: "event" %>

<!--レスポンシブ用ボタン-->
<%if @site.user_id == current_user.id%>
  <div class="index_new_work_btn">
    <%=link_to new_site_work_path(@site) do %>
      <i class="fa-solid fa-square-plus"></i>
    <%end%>
  </div>
<%end%>

<%= javascript_pack_tag 'calendar' %>


