<div class="flash_message">
  <p id="notice"><%= notice %></p>
  <p id="alert"><%= alert %></p>
</div>
<%=render 'site_users/index', add_users: @add_users, site_users: @site_users, site_user: @site_user, site: @site %>