<div class="flash_message">
  <p id="notice"><%= notice %></p>
  <p id="alert"><%= alert %></p>
</div>
<div class="top_page">
  <p class="welcome">Welcome!!</p>
  <h1>Workers</h1>
</div>

<!--JavaScript読み込み-->
<%= javascript_pack_tag 'homes/top' %>