/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */



$pc: 1024px; // PC
$tab: 680px; // タブレット
$sp: 480px; // スマホ

// 全体の調整
body {
    margin: 0;
    padding: 0;
    font-weight: 500;
    line-height: 1.85;
    letter-spacing: 0.05em;
    background: #f3f3f3;
}

// ナビゲーション位置固定
.nav_fix {
    position: fixed;
    z-index: 10;
    top: 55px;
    left: 15%;
    width: 20.4vw;

    // ナビゲーションリンクを画面から消す
    @media (max-width: ($pc)) {
      display: none;
  }
}

.main_nav  {
    font-size: 2.4rem;
    font-weight: 600;
    margin: 70px 0;

    & li {
      list-style: none;
    }
}

.nav_link {
  text-decoration: none;
}


// main要素のレスポンシブ
main {
    width: 67.32vw;
    margin-left: 30%;
    margin-top: 20px;
    position: relative;

    @media (max-width: ($pc)) {
      width: 100%;
      margin-left: 0;
      margin-top: 100px;
  }
}

