@import "./application";

.edit_user_content {
  padding-top: 50px;
  text-align: center;

  h2 {
    text-align: center;
  }

  @media (max-width: ($pc)) {
    padding-top: 30px;
  }

  @media (max-width: ($sp)) {
    #sp_form_name {
      text-align: left;
    }
    #sp_label_name {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}
