@import "./application";

#error_explanation {
  width : 60%;
  text-align: left;
  padding-top: 10px;
  margin: 0 auto;
  color: red;
  h2 {
    font-size: 20px;
  }
  li {
    list-style: none;
  }

  @media (max-width: ($sp)) {
    width : 100%;
    font-size: 8px;

    h2 {
      font-size: 11px;
    }
  }

}

