.sign_up_form {
    padding-top: 50px;
    text-align: center;
}

.form_item {
    margin: auto;
}

.form_field {
    background : white;
    width: 200px;
    padding: 5px 5px;
    margin-right: 15px;
    margin-bottom: 30px;
}

.form_field_long {
    background : white;
    width: 430px;
    padding: 5px 5px;
    margin-bottom: 20px;
}

