.sign_up_form {
    padding-top: 50px;
    text-align: center;
}

.form_items {
    margin: auto;
}

.form_item {
    position: relative;
}

.label {
    position: absolute;
    top: 0;
    left: 0;
}

.form_field {
    background : white;
    width: 200px;
    padding: 5px 5px;
    margin-right: 15px;
    margin-bottom: 30px;
    border:none;
    border-bottom:1px solid #757575;
}

.form_field_long {
    background : white;
    width: 430px;
    padding: 5px 5px;
    margin-bottom: 20px;
    border:none;
    border-bottom:1px solid #757575;
}

input:focus     { outline:none; }