// Place all the styles related to the searches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// 検索フォーム位置調整
.search_area {
  padding-top: 80px;
  text-align: center;
}

.not_search {
  text-align: center;
  padding-top: 100px;
}