// Place all the styles related to the sites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "./application";

.calendar_site_name {
  text-align: center;
  padding-top: 30px;
  margin: 0;
}

.site_form_page {
  height :100vh;

  h2 {
    padding-top: 10%;
    text-align: center;
  }

  .edit_site_btn {
    text-align: center;
  }
}



// newページ関連
.new_site_content {

  .new_site_btn {
  text-align: center;
  }

  @media screen and (max-width: ($pc)) {
    text-align: center;
    padding-top: 50px;
  }


}

.site_index_message {
  padding-top: 50px;
  text-align: center;
}




//indexページ
#site_names {
  padding: 15px 0;
}