// Place all the styles related to the sites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "./application";

.calendar_site_name {
  text-align: center;
  padding-top: 30px;
  margin: 0;
}

.site_form_page {
  height :100vh;

  h2 {
    padding-top: 10%;
    text-align: center;
  }

  .edit_site_btn {
    text-align: center;
  }
}



// newページ関連
.new_site_content {

  .new_site_btn {
  text-align: center;
  }

  @media screen and (max-width: ($pc)) {
    text-align: center;
    padding-top: 50px;
  }


}

.site_index_message {
  padding-top: 50px;
  text-align: center;
}



// タブコンテンツの調整
.site_tab_content {
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: flex-start;
  text-decoration: none;
  border-bottom: solid 1px $select-color;
  &:hover {
    background: $select-color;
  }

  .tab_content_names {
    padding: 20px 30%;

    h2 {
      color: black;
    }

    p {
      color: black;
      margin-bottom: 0;
    }
  }

  @media screen and (max-width: ($tab)) {
    padding: 0;
    padding-bottom: 2px;
    position: relative;

    .tab_user_profile_image {
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }

    .tab_content_names {
      padding: 15px;
      padding-left: 20%;
    }

  }

  @media screen and (max-width: ($sp)) {
    display: flex;
    justify-content: center;
    padding-left: 10px;

    .tab_img_area {
      width: 18%;
    }

    .tab_user_profile_image {
      width: 80px;
      height: 80px;
      margin-top: 7px;
      border-radius: 50%;
    }

    .tab_content_names {
      width: 64%;
      padding: 15px;
      font-size: 10px;
      text-align: left;
    }

    h2 {
      font-size: 16px;
    }

    h6 {
      font-size : 14px;
    }
  }
}


