<% join_sites.each do |site| %>
  <%=link_to site_path(site), class: 'tab_content' do%>

    <div class="tab_content_names">
      <h2><%= site.name %></h2>
      <p><%= site.description %></p>
    </div>

  <%end%>
<%end%>