<% my_sites.each do |site| %>
  <%=link_to site_works_path(site), class: 'tab_content' do%>
    <div class="tab_flex">
      <div class="tab_content_names">
        <h2><%= site.name %></h2>
        <p><%= site.description %></p>
      </div>
    </div>
  <%end%>
<%end%>

<%if my_sites.blank?%>
  <h2 class="site_index_message"><i class="fa-solid fa-person-digging"></i>現場はありません</h2>
<%end%>