<% my_sites.each do |site| %>
  <%=link_to site_path(site), class: 'follow_user' do%>
      <div class="follow_user_names">
        <h2><%= site.name %></h2>
        <p><%= site.description %></p>
      </div>

  <%end%>
<%end%>