<header>
  <!--ナビゲーション-->
  <div class="nav_fix">
    <div class="header_inner">
      <nav class="global_nav_pc">
        <ul class="main_nav">
          <li><%=link_to 'HOME', '/', class: "nav-link" %></li>
          <li><%=link_to 'ABOUT', home_about_path, class: "nav-link" %></li>
          <li><%=link_to 'SIGN UP', new_user_registration_path, class: "nav-link" %></li>
          <li><%=link_to 'LOG IN', new_user_session_path, class: "nav-link" %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>